@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&family=Cabin:wght@400;700&display=swap");

body {
  overflow-x: hidden;
  font-family: "Cabin", sans-serif;
  color: #717f99;
  font-size: large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
  color: #444172;
}

.wp-block-heading {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.card-transition {
  transition: all 0.5s ease;
}

.card-enter {
  opacity: 0;
  transform: scale(0.9);
}

.card-enter-active {
  opacity: 1;
  transform: scale(1);
}

.card-exit {
  opacity: 1;
  transform: scale(1);
}

.card-exit-active {
  opacity: 0;
  transform: scale(0.9);
}

ul li {
  list-style: none;
  border: 1px solid #563d7c;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #563d7c1c;
  color: #563d7c;
  padding: 5px 50px;
  border-radius: 5px;
}

.active {
  font-weight: bold;
  background-color: #563d7c; /* Ou qualquer cor que você preferir */
  color: #ffffff;
}

#filters {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  #filters {
    display: block !important;
    justify-content: center;
    padding-left: 0 !important;
    padding-bottom: 25px;
    text-align: center;
  }

  #filters li {
    margin-bottom: 15px;
    margin-left: 0;
  }
}
